Repository atlanhq/application-sdk, pull requests merged in 2025-07, with the labels that each got.

#606 feat: enable tests and examples on macOS and windows as part of CI
  .github/actions/e2e-examples/action.yaml
  .github/actions/setup-deps/action.yaml
  .github/actions/unit-tests/action.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/push.yaml
  .github/workflows/tag-and-publish.yaml
  .gitignore
  examples/run_examples.py
  pyproject.toml
  tests/unit/common/test_logger_adapter.py
Labels: e2e-test, run-examples

#609 fix: unit tests structure, add missing tests
  .cursor/rules/testing.mdc
  .github/actions/unit-tests/action.yaml
  application_sdk/inputs/json.py
  pyproject.toml
  tests/unit/activities/common/__init__.py
  tests/unit/activities/common/test_utils.py
  tests/unit/activities/metadata_extraction/__init__.py
  tests/unit/activities/metadata_extraction/test_sql.py
  tests/unit/activities/query_extraction/__init__.py
  tests/unit/activities/test_activities.py
  tests/unit/application/__init__.py
  tests/unit/application/metadata_extraction/test_sql.py
  tests/unit/application/test_application.py
  tests/unit/common/test_aws_utils.py
  tests/unit/common/test_credential_utils.py
  tests/unit/inputs/test_json.py
  tests/unit/inputs/test_json_input.py
  tests/unit/observability/__init__.py
  tests/unit/observability/test_logger_adaptor.py
  tests/unit/observability/test_metrics_adaptor.py
  tests/unit/observability/test_traces_adaptor.py
  tests/unit/server/fastapi/test_fastapi.py
  tests/unit/test_worker.py
  tests/unit/worker.py
  tests/unit/workflows/metadata_extraction/test_sql.py
  tests/unit/workflows/query_extraction/__init__.py
  tests/unit/workflows/query_extraction/test_sql.py
Labels: e2e-test, run-examples

#610 fix: multi-database fetch based on include / exclude filter
  application_sdk/common/utils.py
  application_sdk/handlers/sql.py
  tests/unit/common/test_utils.py
  tests/unit/handlers/sql/test_metadata.py
Labels: e2e-test, run-examples

#607 Bump version to 0.1.1rc21
  CHANGELOG.md
  application_sdk/version.py
  pyproject.toml
  uv.lock
Labels: release

#612 fix: include databases in common/utils
  application_sdk/common/utils.py
  tests/unit/common/test_utils.py
Labels: e2e-test, run-examples

#611 fix: suppress daft dependency loggers
  application_sdk/observability/logger_adaptor.py
Labels: e2e-test, run-examples

#624 fix: issues with inferring workflow_run_id
  application_sdk/activities/__init__.py
  application_sdk/workflows/__init__.py
  application_sdk/workflows/metadata_extraction/sql.py
  docs/docs/concepts/workflows.md
  tests/unit/activities/test_activities.py
Labels: e2e-test, run-examples

#630 fix: db name regex pattern
  application_sdk/common/utils.py
  tests/unit/common/test_utils.py
Labels: atlan-postgres-app:main, run-examples
